<div class="row">
	<div class="col-md-6 col-md-offset-3">
  	
  	<h1> Poster vos Tweets ! </h1>

  	<div class="form_tag">
	<%= form_tag({controller: "home", action: "index"}, method: "get") do %>
		<%= text_field_tag :tweet %><br /><br />
		<%= submit_tag 'Twitter', class:"btn btn-primary" %>
	<% end %>
	</div>

	</div>
</div>


